
<ion-content padding>
  


<!-- <ion-item>
  <ion-label>Escoge un modelo</ion-label>
  <ion-select [(ngModel)]="m" (ionChange)="traecolores(m)"> >
    <ion-option *ngFor="let m of modelos| async" [value]="m">{{m.nombre}}</ion-option>
  </ion-select>
</ion-item>


 -->



  


<!--   <ion-calendar #calendar [events]="currentEvents"  (onDaySelect)="onDaySelect($event)" (onMonthSelect)="onMonthSelect($event)"></ion-calendar>

 -->
<ion-item>
  <ion-label>Locales</ion-label>
  <ion-select [(ngModel)]="lo" >
    <ion-option *ngFor="let l of locales  | async" value="{{l.nombre}}">{{l.nombre}}</ion-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Modelos</ion-label>
  <ion-select [(ngModel)]="mo" (ionChange)="bus(lo,mo)">
    <ion-option *ngFor="let l of modelos  | async" value="{{l.nombre}}">{{l.nombre}}</ion-option>
  </ion-select>
</ion-item>



<button ion-button full round color="primary" (click)='bus(lo,mo)'>Buscar</button>




<div id="container" style="display: block;" height='800px;'></div>



<ion-item *ngFor="let item of movi">
     


          <ion-row>

          <ion-col col-6>{{item.color__nombre}}</ion-col>
          <ion-col col-2>{{item.S}}</ion-col>
          <ion-col col-2>{{item.M}}</ion-col>
          <ion-col col-2>{{item.L}}</ion-col>
         

          </ion-row>
    
</ion-item>


  <ion-fab center bottom>
    <button ion-fab color="dark" (click)='configuracion()'><ion-icon name="calendar"></ion-icon></button>
   
  
    
  </ion-fab> 

</ion-content>
