
<ion-content>
  


<!-- <ion-item>
  <ion-label>Escoge un modelo</ion-label>
  <ion-select [(ngModel)]="m" (ionChange)="traecolores(m)"> >
    <ion-option *ngFor="let m of modelos| async" [value]="m">{{m.nombre}}</ion-option>
  </ion-select>
</ion-item>


 -->





  

 <div *ngFor="let c of colores| async ">
   <ion-item> 

   <div item-start style='min-width: 6em;'>{{c.nombre}}</div>
   <span class='barra1' >{{c.s}}</span>

    <span class='barra1' >{{c.m}}</span>

    <span class='barra1' >{{c.l}}</span>

   </ion-item>

 
</div> 

  <ion-calendar #calendar [events]="currentEvents"  (onDaySelect)="onDaySelect($event)" (onMonthSelect)="onMonthSelect($event)"></ion-calendar>


 <!--  <ion-fab center bottom>
    <button ion-fab color="dark" (click)='configuracion()'><ion-icon name="settings"></ion-icon></button>
   
  
    
  </ion-fab> -->

</ion-content>
