page-calendario {

font-family: $font-gamarra !important;


#container {
  

    height: 550px;
}

    .calendar-col {

        font-family: $font-gamarra;
    }
    
ion-slides {
    display: block;
    width: 100%;
    height: 8%;
    background: #7063da;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 11px;
    border-right: 1px;
}



.categorias-slider{

	padding: 0;
    margin: 0;
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 63px;
   
    z-index: 7000;


}

.categorias-slider li {
	flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 15px;
	padding: 10px 21px;
    min-width: 86px;
    list-style: none;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $font-gamarra;
background: #4240d2;
    border: 2px solid #f2f6f9 !important;
    color: #fff;
    border-radius: 13%;
}

.barra1{
	    background: #3a92ec;
    
    padding: 8px;
  
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
    

}



}
