<!--
  Generated template for the MovimientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Movimientos</ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)='closeModal()' >
        <ion-icon (click)='closeModal()'  style='font-size: 32px;
    float: right;' name="close"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

  

</ion-header>


<ion-content padding>

  <h5 padding> Registre movimientos del {{fecha}}</h5>

  <ion-list>


  <ion-item>
    <ion-label>Modelo</ion-label>
    <ion-select [(ngModel)]="movimiento.modelo">
      <ion-option  *ngFor="let c of modelos | async " value="{{c.nombre}}">{{c.nombre}}</ion-option>
    </ion-select>
  </ion-item>


   <ion-item>
    <ion-label>Talla</ion-label>
    <ion-select [(ngModel)]="movimiento.talla">
      <ion-option  *ngFor="let c of tallas | async " value="{{c.nombre}}">{{c.nombre}}</ion-option>
    </ion-select>
  </ion-item>
 

  <ion-item>
    <ion-label>Color</ion-label>
    <ion-select [(ngModel)]="movimiento.color">
      <ion-option  *ngFor="let c of colores | async " value="{{c.nombre}}">{{c.nombre}}</ion-option>
    </ion-select>
  </ion-item>

   <ion-item>
    <ion-label>Movimiento</ion-label>
    <ion-select [(ngModel)]="movimiento.tipomovimiento">
      <ion-option  *ngFor="let c of tipomovimiento | async " value="{{c.nombre}}">{{c.nombre}}</ion-option>
    </ion-select>
  </ion-item>



   <ion-item>
    <ion-label>Cantidad</ion-label>
    <ion-input type="number" required  [(ngModel)]="movimiento.cantidad"></ion-input>
  </ion-item>

  



</ion-list>

<div padding>
<button ion-button full round (click)='guarda(movimiento)' color="dark">Guardar</button>
</div>


</ion-content>
