<!--
  Generated template for the TransaccionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='dark'>
    <ion-title>{{fecha}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <h5 padding *ngIf='contador==0'>No existe movimientos en esta fecha </h5>


  <h5  padding *ngIf='contador>0'>{{contador}} movimientos</h5>

	<ion-list>
      <div *ngFor="let c of modeloshistorico | async ">
  
    <ion-item>

      <ion-row>

        <ion-col col-12>

            <ion-row>

            <ion-col >{{c.movimiento.origen}} <ion-icon name="paper-plane"></ion-icon>

           {{c.movimiento.destino}} </ion-col>

 

          </ion-row>

        </ion-col>

        <ion-col col-12>

          <ion-row>

                     <ion-col>{{c.movimiento.modelo}}</ion-col>

            <ion-col>{{c.movimiento.color}}</ion-col>

          <ion-col>{{c.movimiento.talla}}</ion-col>

         <ion-col> {{c.movimiento.cantidad}}</ion-col>

          </ion-row>
    
        </ion-col>

   </ion-row>


  </ion-item>
 
</div>

</ion-list>







  
  <ion-fab center bottom>
    <button ion-fab color="danger" (click)='ingreso()'><ion-icon name="ios-add"></ion-icon></button>
   
  
    
  </ion-fab>
</ion-content>
